In [749]:
import pandas as pd
import numpy as np

In [750]:
fact_ind_economicos = pd.read_csv(r'C:\Users\music\OneDrive\Escritorio\Data_Science\TeamProject\DataScience-TeamProject\tablas\fact_ind_economicos.csv')

In [751]:
fact_ind_economicos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6909 entries, 0 to 6908
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pais_x               6909 non-null   object
 1   codigo_pais          6909 non-null   object
 2   anio                 6909 non-null   int64
 3   PIB                  6848 non-null   float64
 4   salario_minimo       2939 non-null   float64
 5   salario_promedio     1047 non-null   float64
 6   ingresos_altos       339 non-null    float64
 7   ingresos_bajos       611 non-null    float64
 8   %empleo_agricultura  5394 non-null   float64
 9   %empleo_industria    5394 non-null   float64
 10  %empleo_servicio     5394 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 593.9+ KB

In [752]:
fact_ind_economicos.drop(['ingresos_altos', 'ingresos_bajos','salario_promedio'], axis=1, inplace=True)

In [753]:
fact_ind_economicos = fact_ind_economicos[(fact_ind_economicos['anio'] <= 2019) & (fact_ind_economicos['anio'] > 1990)]

In [754]:
remover = ['ABW', 'AND', 'ASM', 'ATG', 'BMU', 'BRB', 'CHI', 'CUW', 'CYM', 'DJI', 'DMA', 'FSM', 'GIB', 'GRD', 'GRL', 'KIR', 'KNA', 'LIE', 'MAF', 'MCO', 
           'MDA', 'MHL', 'MNP', 'NCL', 'NRU', 'PLW', 'PRK', 'SMR', 'SOM', 'SSD', 'STP', 'SXM', 'SYC', 'TCA', 'TLS', 'TUV', 'VGB', 'XKX', 'OWID_KOS', 
           'OWID_SML', 'OWID_ZAN', 'TWN', 'FRO', 'IMN', 'VIR','PYF','MAC','BRN','GUM','TON','LCA','PSE','WSM','VCT']

In [755]:
indices = fact_ind_economicos[fact_ind_economicos['codigo_pais'].isin(remover)].index
fact_ind_economicos.drop(indices, inplace=True)

In [756]:
fact_ind_economicos['PIB'].replace(to_replace=0, value=np.nan, inplace=True)

In [757]:
fact_ind_economicos['PIB'] = fact_ind_economicos.groupby('codigo_pais')['PIB'].fillna(method='bfill')
fact_ind_economicos['PIB'] = fact_ind_economicos.groupby('codigo_pais')['PIB'].fillna(method='ffill')

In [758]:
fact_ind_economicos['salario_minimo'] = fact_ind_economicos.groupby('codigo_pais')['salario_minimo'].fillna(method='bfill')
fact_ind_economicos['salario_minimo'] = fact_ind_economicos.groupby('codigo_pais')['salario_minimo'].fillna(method='ffill')

In [761]:
fact_ind_economicos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4843 entries, 33 to 6906
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pais_x               4843 non-null   object
 1   codigo_pais          4843 non-null   object
 2   anio                 4843 non-null   int64
 3   PIB                  4843 non-null   float64
 4   salario_minimo       3973 non-null   float64
 5   %empleo_agricultura  4843 non-null   float64
 6   %empleo_industria    4843 non-null   float64
 7   %empleo_servicio     4843 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 340.5+ KB

In [762]:
fact_ind_sociopolitico = pd.read_csv(r'C:\Users\music\OneDrive\Escritorio\Data_Science\TeamProject\DataScience-TeamProject\tablas\fact_ind_sociopolitico.csv')

In [763]:
fact_ind_sociopolitico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5659 entries, 0 to 5658
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   codigo_pais            5659 non-null   object
 1   pais_x                 5659 non-null   object
 2   anio                   5659 non-null   int64
 3   derechos_laborales     715 non-null    float64
 4   derechos_humanos       5646 non-null   float64
 5   Gini coefficient       1850 non-null   float64
 6   wage_gap_employee      672 non-null    float64
 7   wage_gap_selfemployed  444 non-null    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 353.8+ KB

In [764]:
fact_ind_sociopolitico = fact_ind_sociopolitico[(fact_ind_sociopolitico['anio'] <= 2019) & (fact_ind_sociopolitico['anio'] > 1990)]

In [765]:
indices2 = fact_ind_sociopolitico[fact_ind_sociopolitico['codigo_pais'].isin(remover)].index
fact_ind_sociopolitico.drop(indices2, inplace=True)

In [766]:
fact_ind_sociopolitico.drop(['wage_gap_employee', 'wage_gap_selfemployed', 'derechos_laborales'], axis=1, inplace=True)

In [767]:
fact_ind_sociopolitico['Gini coefficient'] = fact_ind_sociopolitico.groupby('codigo_pais')['Gini coefficient'].fillna(method='bfill')
fact_ind_sociopolitico['Gini coefficient'] = fact_ind_sociopolitico.groupby('codigo_pais')['Gini coefficient'].fillna(method='ffill')

In [768]:
fact_ind_sociopolitico[fact_ind_sociopolitico['derechos_humanos'].isna()]

    codigo_pais  pais_x  anio  derechos_humanos  Gini coefficient
576         BLZ  Belize  1993               NaN          0.602540
577         BLZ  Belize  1994               NaN          0.609084
578         BLZ  Belize  1995               NaN          0.575543
579         BLZ  Belize  1996               NaN          0.565937
580         BLZ  Belize  1997               NaN          0.604253
581         BLZ  Belize  1998               NaN          0.549060
582         BLZ  Belize  1999               NaN          0.532628
583         BLZ  Belice  2015               NaN          0.532628
584         BLZ  Belice  2016               NaN          0.532628
585         BLZ  Belice  2017               NaN          0.532628
586         BLZ  Belice  2018               NaN          0.532628
587         BLZ  Belice  2019               NaN          0.532628

In [769]:
fact_ind_economicos[fact_ind_economicos['codigo_pais'] == 'BLZ'].head()

,pais_x,codigo_pais,anio,PIB,salario_minimo,%empleo_agricultura,%empleo_industria,%empleo_servicio
748,Belice,BLZ,1991,9.137893,243.75,24.309999,20.110001,55.580002
749,Belice,BLZ,1992,9.778566,243.75,24.170000,19.930000,55.900002
750,Belice,BLZ,1993,4.115190,243.75,23.940001,19.969999,56.099998
751,Belice,BLZ,1994,-1.943300,243.75,23.110001,19.530001,57.360001
752,Belice,BLZ,1995,-1.901188,243.75,27.150000,17.809999,55.040001

In [770]:
fact_ind_sociopolitico[fact_ind_sociopolitico['pais_x'] == 'Guatemala'].head()

     codigo_pais     pais_x  anio  derechos_humanos  Gini coefficient
1998         GTM  Guatemala  1991             0.326          0.541765
1999         GTM  Guatemala  1992             0.320          0.541765
2000         GTM  Guatemala  1993             0.324          0.541765
2001         GTM  Guatemala  1994             0.341          0.541765
2002         GTM  Guatemala  1995             0.375          0.541765

In [772]:
fact_ind_sociopolitico.drop(['pais_x'], axis=1, inplace=True)

In [773]:
fact_migracion_neta = pd.read_csv(r'C:\Users\music\OneDrive\Escritorio\Data_Science\TeamProject\DataScience-TeamProject\tablas\fact_migracion_neta.csv')

In [774]:
fact_migracion_neta = fact_migracion_neta[(fact_migracion_neta['anio'] <= 2019) & (fact_migracion_neta['anio'] > 1990)]

In [775]:
indices3 = fact_migracion_neta[fact_migracion_neta['codigo_pais'].isin(remover)].index
fact_migracion_neta.drop(indices3, inplace=True)

In [776]:
fact_migracion_neta.drop(['pais'], axis=1, inplace=True)

In [777]:
merge1 = pd.merge(fact_ind_economicos,fact_ind_sociopolitico, on=['codigo_pais','anio'], how='outer')

In [778]:
merge2 = pd.merge(merge1, fact_migracion_neta, on=['codigo_pais','anio'], how='outer')

In [779]:
merge2['derechos_humanos'] = merge2.groupby('codigo_pais')['derechos_humanos'].fillna(method='bfill')
merge2['derechos_humanos'] = merge2.groupby('codigo_pais')['derechos_humanos'].fillna(method='ffill')

In [780]:
merge2['Gini coefficient'] = merge2.groupby('codigo_pais')['Gini coefficient'].fillna(method='bfill')
merge2['Gini coefficient'] = merge2.groupby('codigo_pais')['Gini coefficient'].fillna(method='ffill')

In [782]:
merge2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4843 entries, 0 to 4842
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pais_x               4843 non-null   object
 1   codigo_pais          4843 non-null   object
 2   anio                 4843 non-null   int64
 3   PIB                  4843 non-null   float64
 4   salario_minimo       3973 non-null   float64
 5   %empleo_agricultura  4843 non-null   float64
 6   %empleo_industria    4843 non-null   float64
 7   %empleo_servicio     4843 non-null   float64
 8   derechos_humanos     4756 non-null   float64
 9   Gini coefficient     4379 non-null   float64
 10  migracion_neta       4843 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 454.0+ KB

In [785]:
merge2[merge2['salario_minimo'].isna()]['pais_x'].unique()

array(['Emiratos Árabes Unidos', 'Austria', 'Suiza', 'Chile', 'Cuba',
       'Dinamarca', 'República Dominicana', 'Ecuador', 'Eritrea',
       'Finlandia', 'Honduras', 'Islandia', 'Italia', 'Liberia', 'México',
       'Namibia', 'Nicaragua', 'Noruega', 'Panamá', 'Puerto Rico',
       'Paraguay', 'Qatar', 'Singapur', 'El Salvador', 'Suecia',
       'Turkmenistán', 'Uruguay', 'Venezuela', 'Yemen, Rep. del',
       'Zimbabwe'], dtype=object)

In [786]:
merge2[merge2['Gini coefficient'].isna()]['pais_x'].unique()

array(['Afganistán', 'Bahrein', 'Bahamas', 'Cuba', 'Eritrea',
       'Guinea Ecuatorial', 'Hong Kong, Región Administrativa Especial',
       'Camboya', 'Kuwait', 'Libia', 'Nueva Zelandia', 'Omán',
       'Puerto Rico', 'Qatar', 'Arabia Saudita', 'Singapur'], dtype=object)

In [783]:
#Bahamas, Eritrea, Qatar, Singapur

In [787]:
merge2[merge2['pais_x'] == 'Turkmenistán']

,pais_x,codigo_pais,anio,PIB,salario_minimo,%empleo_agricultura,%empleo_industria,%empleo_servicio,derechos_humanos,Gini coefficient,migracion_neta
4350,Turkmenistán,TKM,1991,-7.138884,NaN,32.980000,39.189999,27.830000,0.222,0.408069,5400.0
4351,Turkmenistán,TKM,1992,-17.231044,NaN,33.610001,38.750000,27.639999,0.156,0.408069,8347.0
4352,Turkmenistán,TKM,1993,-1.151710,NaN,33.779999,38.299999,27.920000,0.139,0.408069,8183.0
4353,Turkmenistán,TKM,1994,-19.327607,NaN,34.330002,37.660000,28.020000,0.137,0.408069,4802.0
4354,Turkmenistán,TKM,1995,-9.254820,NaN,34.540001,37.070000,28.389999,0.134,0.408069,-462.0
4355,Turkmenistán,TKM,1996,4.852567,NaN,34.740002,36.650002,28.610001,0.134,0.408069,-25893.0
4356,Turkmenistán,TKM,1997,-12.670604,NaN,34.740002,35.959999,29.299999,0.100,0.408069,-16799.0
4357,Turkmenistán,TKM,1998,5.460336,NaN,34.650002,35.529999,29.830000,0.100,0.408069,-9721.0
4358,Turkmenistán,TKM,1999,14.699548,NaN,34.570000,35.230000,30.200001,0.100,0.408069,-9212.0
4359,Turkmenistán,TKM,2000,3.898200,NaN,34.279999,34.770000,30.950001,0.101,0.408069,-9473.0
4360,Turkmenistán,TKM,2001,2.858929,NaN,34.360001,34.410000,31.230000,0.096,0.408069,-9062.0
4361,Turkmenistán,TKM,2002,-1.105636,NaN,34.340000,34.110001,31.549999,0.096,0.408069,-8595.0
4362,Turkmenistán,TKM,2003,1.966410,NaN,34.000000,33.860001,32.150002,0.095,0.408069,-15713.0
4363,Turkmenistán,TKM,2004,3.675777,NaN,33.599998,33.730000,32.669998,0.096,0.408069,-9254.0
4364,Turkmenistán,TKM,2005,11.507496,NaN,32.849998,33.790001,33.369999,0.090,0.408069,-8252.0
4365,Turkmenistán,TKM,2006,9.444377,NaN,32.330002,33.939999,33.730000,0.098,0.408069,-9619.0
4366,Turkmenistán,TKM,2007,9.493054,NaN,31.680000,34.169998,34.150002,0.131,0.408069,-9637.0
4367,Turkmenistán,TKM,2008,13.009012,NaN,30.910000,34.580002,34.509998,0.132,0.408069,-9605.0
4368,Turkmenistán,TKM,2009,4.443794,NaN,30.180000,34.830002,35.000000,0.123,0.408069,-9615.0
4369,Turkmenistán,TKM,2010,7.396303,NaN,29.360001,35.189999,35.459999,0.123,0.408069,-9627.0
4370,Turkmenistán,TKM,2011,12.713572,NaN,28.360001,35.700001,35.950001,0.126,0.408069,-9636.0
4371,Turkmenistán,TKM,2012,9.108041,NaN,27.430000,36.200001,36.369999,0.127,0.408069,-9598.0
4372,Turkmenistán,TKM,2013,8.190014,NaN,26.469999,36.689999,36.840000,0.125,0.408069,-9603.0
4373,Turkmenistán,TKM,2014,8.292781,NaN,25.450001,37.209999,37.340000,0.125,0.408069,-9609.0
4374,Turkmenistán,TKM,2015,4.592544,NaN,24.520000,37.669998,37.810001,0.124,0.408069,-9612.0
4375,Turkmenistán,TKM,2016,4.351812,NaN,23.620001,38.200001,38.180000,0.125,0.408069,-9616.0
4376,Turkmenistán,TKM,2017,4.718773,NaN,22.680000,38.730000,38.590000,0.157,0.408069,-9616.0
4377,Turkmenistán,TKM,2018,4.507070,NaN,21.690001,39.259998,39.049999,0.151,0.408069,-9614.0
4378,Turkmenistán,TKM,2019,4.688624,NaN,20.680000,39.830002,39.490002,0.183,0.408069,-9612.0